@import 'Reset';
@import 'Helper';
@import 'Variables';

body {
  margin: 0;
  padding: 0;
  height: 100%;
}


.flex-collum-center-05 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hover-effect {
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
  }
}

.image-selector {
  width: 60px; height: 60px; border-radius: 50% 
}