// $accent: #8980E8;

// :root,
// html[data-theme='light'] {
//   --foreground: #ffffff;
//   --background: #ffffff80;
//   --selected: #f9f9f9;
//   --text: #000;
// }

// html[data-theme='dark'] {
//   --foreground: #181818;
//   --background: #262626;
//   --selected: #0f0f0f;
//   --text: #fff;
// }

// .color-text {
//   color: var(--text) !important;
// }

// .color-white {
//   color: #fff !important;
// }

// .color-accent {
//   color: $accent !important;
// }

// .bg-accent {
//   background-color: $accent !important;
// }

// .bg-foreground {
//   background-color: var(--foreground) !important;
// }

// .bg-background {
//   background-color: var(--background) !important;

// }

// .svg-default-stroke {
//   stroke: var(--text) !important;
// }

.min {
  min-height: calc(100vh - 102px) !important;
}


.hover-effect {
  &:hover {
    filter: brightness(0.8);
    cursor: pointer;
  }
}

.hover-effect-img {
  &:hover {
    background-color:  #00000018;
    cursor: pointer;
  }
}

.wrapper {
  max-width: 1500px;
  margin: auto;
  padding-bottom: 3rem;
}