.container-wrapper {
  min-height: calc(100vh - 102px) !important;
  position: relative;
}

.container-middle {
  max-width: 1500px;
  margin: auto;
  padding-bottom: 3rem;
}

.hover-effect {
  &:hover {
    filter: brightness(0.8);
    cursor: pointer;
  }
}

.hover-effect-img {
  &:hover {
    background-color:  #00000018;
    cursor: pointer;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  display: grid;
  place-items: center;
}

.loader {
  border: 16px solid #e3e3e3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}

.div-emoji {
  z-index: 9999;
  position: absolute
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}