.container {
  width: 125px;
  height: 196px;
  overflow: hidden;
}

.blur {
  filter: blur(7px);
  z-index: 0;
}

.star {
  position: absolute;
  color: #383838;
  font-size: 12px;
}

.svg-star {
  transform: scale(1.5);
}